In [1]:
# Dependencies
import requests
import pandas as pd
import pymongo
import sqlalchemy
from sqlalchemy import create_engine
import pymysql
import mysql.connector
import json
from config import mongoConn, remote_db_endpoint, remote_db_port, remote_db_name, remote_db_user, remote_db_pwd

In [15]:
#MySQLdb insert connection
conn = pymysql.connect(host=f'{remote_db_endpoint}',
                             user=remote_db_user,
                             password=remote_db_pwd,
                             db=remote_db_name)
mycursor = conn.cursor()

In [12]:
sql = '''
    SELECT *
    FROM streamingservices
    WHERE Service_Name = %s;
    
'''
val = ('hbo')
sql
mycursor.execute(sql, val)
df=pd.DataFrame(mycursor)
df

,0,1,2,3,4,5,6
0,27,HBO,SVOD,https://img.reelgood.com/service-logos/hbo.svg,HBO.com,0,None

conn.close()
#engine.dispose()