In [2]:
# Dependencies
import requests
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine
import pymysql
import mysql.connector
import json
from config import mongoConn, remote_db_endpoint, remote_db_port, remote_db_name, remote_db_user, remote_db_pwd

In [3]:
#MySQLdb insert connection
conn = pymysql.connect(host=f'{remote_db_endpoint}',
                             user=remote_db_user,
                             password=remote_db_pwd,
                             db=remote_db_name)
mycursor = conn.cursor()

In [14]:
sql = '''
    SELECT Service_ID, Service_Name
    FROM streamingservices

'''

In [20]:
mycursor.execute(sql)
df = pd.DataFrame(mycursor)
df.rename(columns={0: 'Service_ID', 1: 'Service_Name'}, inplace=True)
df

    Service_ID    Service_Name
0            1         Crackle
1            2     Crunchyroll
2            3         IMDb TV
3            4         Peacock
4            5            Plex
..         ...             ...
73          74             DIY
74          75    Food Network
75          76            HGTV
76          77             TCM
77          78  Travel Channel

[78 rows x 2 columns]

In [5]:
df

NameError: name 'df' is not defined

In [ ]:
conn.commit()